@page
@model H2Razor.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div>
    <form method="post">
        <table>
            <tr>
                <td>task description</td>
                <td><input asp-for="toDo.TaskDescription" type="text" id="txtTaskDescription"  name="TaskDescription" /></td>
            </tr>
            <tr>
                <td>Prioity</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" asp-page-handler="Submit" /></td>
            </tr>

        </table>
    </form>
</div>


